/* color css start */
nav{
    background: #264653;
}
#honda-cbr{
    background: #264653;
}
#featured-bike .gray{
    filter: grayscale(100%);
}
#motorcycle-buy .motorcycle{
    background: #f8f8f8;
}